# SPDX-License-Identifier: Apache-2.0

.work/
results/
test_files/
test_result_pypi/
test_result_github/
fosslight_log/
fosslight_compare_*.html
__pycache__/
*.pyc
.venv/
venv/
*.xlsx
!tests/**/*.xlsx
.DS_Store
